version: '3.8'

services:
  backend:
    container_name: nest_backend_dev
    build:
      context: ./backend

    volumes:
      - ./backend:/app
      - /app/node_modules

    ports:
      - "3001:3001"

    environment:
      NODE_ENV: development
      PORT: 3001

    command: npm run start:dev

  frontend:
    container_name: next_frontend_dev
    build:
      context: ./frontend

    volumes:
      - ./frontend:/app
      - /app/node_modules

    ports:
      - "3000:3000"

    environment:
      NEXT_PUBLIC_BACKEND_URL: http://localhost:3001
      NODE_ENV: development

    depends_on:
      - backend

    command: npm run dev